.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.desc {
    margin-top: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.rentElem {
    display: flex;
    align-items: center;
}

.ownerItem > span {
    font-weight: bold;
    opacity: 0.8;
}

.ownerItem + .ownerItem {
    margin-left: 8px;
}