.name {
    margin-bottom: -6px;
}

.wrapper {
    padding: 1rem;
    border: 1px solid rgb(231, 231, 231);
    margin-top: 1rem;
}

.wrapper + .wrapper {
    border-top: 1px dashed rgb(230, 230, 230);
}